 <b class="oneCountryName"> {{name}} </b> 

<div class="oneCountryInfo">   
  <div>   
    <p><b>Capital:</b> {{capital}}</p>
    <p><b>Population:</b> {{population}}</p>
        <ul><b>Languages:</b>
            {{#each languages}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </div>

    <img src="{{flag}}" alt="Flaf of {{name}}"  width="500px"/>

</div>